<div class="">
  <div >
    <div class="container">
      <app-inserir-personal  [events]="eventsSubject.asObservable()" (atualizarLista)="adcionar()" ></app-inserir-personal>
    </div>
  </div>
  <div class="">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor Mensal</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let personal of personais">
            <td >{{ personal?.nome  }}</td>
            <td >{{ personal?.valor | currency: "BRL"  }}</td>
            <td >{{ personal.cpf | mask: '000.000.000-00'  }}</td>
            <td  >{{ personal.telefone | mask:"(00) 0 0000-0000"}}</td>
            <td >
              <button *ngIf="modoEdicao == false" (click)="excluir(personal.id)" class="btn btn-danger mr-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
              <button (click)="editar(personal)" class="btn btn-secondary"> <i class="fa fa-pencil" aria-hidden="true"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
