<div class="container" style="font-size: 14px">
  <div class="row mt-2 mb-1">
    <div class="col-12 mb-2">
      <div class="row justify-content-between" id="searchBox">
        <input
          placeholder=" Busque Por Nome!"
          class="form-control mr-2 col-4"
          [(ngModel)]="searchBox"
          (ngModelChange)="atualizarLista()"
        />
        <div class="form-check col-1">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="filtroVencidos"
            (click)="atualizarLista()"
            id="vencidos"
          />
          <label
            class="form-check-label text-danger font-weight-bold"
            for="vencidos"
          >
            Vencidos
          </label>
        </div>

        <div class="form-check col-1">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="ativo"
            (click)="mudarFiltro(true)"
            (click)="atualizarLista()"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Ativos
          </label>
        </div>
        <div class="form-check col-1">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="inativo"
            (click)="mudarFiltro(false)"
            (click)="atualizarLista()"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Inativos
          </label>
        </div>
        <div class="form-check col-1">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="todos"
            checked
            (click)="mudarFiltro()"
            (click)="atualizarLista()"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Todos
          </label>
        </div>

        <div class="col-2">
          <span>Alunos: {{ totalAlunos }}</span>
        </div>

        <button
          type="button"
          class="btn btn-primary col-1"
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="desEdit()"
        >
          <i class="fa fa-plus-circle"></i>
        </button>
      </div>
    </div>

    <table class="table table-responsive-md">
      <thead class="thead">
        <tr class=" ">
          <th scope="col">Nome</th>
          <th scope="col">Celular</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Personal</th>
          <th scope="col">Plano</th>
          <th scope="col">R$</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          *ngFor="
            let aluno of alunos | slice: (page - 1) * pageSize:page * pageSize
          "
          [ngClass]="{ inativo: aluno.status == 'Inativo' }"
        >
          <td>{{ aluno?.nome }}</td>
          <td>{{ aluno.telefone | mask: "(00) 0 0000-0000" }}</td>

          <td [ngClass]="{ vencido: aluno.statusMensalidade == 'Vencido' }">
            {{ aluno.vencimentoMensalidade | date: "shortDate" }}
          </td>

          <td>{{ aluno?.personal?.nome }}</td>
          <td>{{ aluno?.plano?.descricao }}</td>
          <td>{{ aluno?.plano?.valor | currency: "BRL" }}</td>
          <td>
            <a
              *ngIf="modoEdicao == false"
              (click)="excluir(aluno.id)"
              class="text-danger mr-2"
              ><i class="fa fa-trash" aria-hidden="true"></i
            ></a>
            <a
              (click)="editar(aluno)"
              class="mr-2"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <i class="fa fa-pencil text-secondary" aria-hidden="true"></i>
            </a>
            <a (click)="gerarPagamento(aluno.id)" class="text-success">
              <i class="fa fa-money" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <div class="col-4">
      <button class="btn btn-link" (click)="previousPage()">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="col-4">
      <p>
        {{ page }}
      </p>
    </div>
    <div class="col-4">
      <button class="btn btn-link" (click)="nextPage()">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>

<app-inserir-aluno
  [events]="eventsSubject.asObservable()"
  (atualizarLista)="adicionar()"
>
</app-inserir-aluno>
