   <div class="position-relative" >
     <ul class=" nav nav-justified ">

       <li [routerLinkActive]="['active']" class="nav-item">
         <a class="nav-link"  [routerLink]="['pagina-inicial']">
              <i  class="fa fa-home"> Ínicio
              </i>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['listar-alunos']">
              <i class="fa fa-user"> Alunos

              </i>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['listar-planos']">
              <fa-icon [icon]="dumbellIcon"> </fa-icon> Planos
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['listar-personais']">
              <fa-icon [icon]="chalkBoardUser"></fa-icon> Personais
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link navbar-" [routerLink]="['listar-pagamentos']">
              <fa-icon [icon]="sackDollar"></fa-icon> Pagamentos
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['listar-recebimentos']">
              <fa-icon [icon]="moneyBill"></fa-icon> Recebimentos
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['listar-despesas']">
              <fa-icon style="color: red" [icon]="dollarSign"></fa-icon> Despesas
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link" [routerLink]="['relatorio']">
              <fa-icon [icon]="fileChart"></fa-icon> Relatório
            </a>
          </li>
        </ul>
      </div>

  <main >
    <router-outlet></router-outlet>



  </main>


