<div class="container mb-2">
  <h2 class="font-weight-bold border-bottom">{{title}}</h2>
  <a class="btn btn-link" (click)="limparCampos()" > <i class="fa fa-close" aria-hidden="true"></i></a>
  <form class="form form-row" (ngSubmit)="submit()">
      <div class="form-group col-4">
        <label for="observacoes" >Observações</label>
        <input class="form-control" id="observacoes" type="text" [(ngModel)]="despesa.observacoes" name="observacoes" placeholder="Observações"  >
      </div>
      <div class="form-group col-4">
        <label for="valor" >Valor</label>
        <input  class="form-control" id="valor" type="number" min="0" [(ngModel)]="despesa.valor" name="valor" placeholder="Valor"  >
      </div>
      <div class="form-group col-4">
        <label for="formaPagamento">Forma de Pagamento</label>
        <select [(ngModel)]="despesa.formaPagamento" class="form-control" id="formaPagamento" name="formaPagamento" >
          <option value="Dinheiro"  >Dinheiro</option>
          <option value="Cartão de Crédito" >Cartão de Crédito</option>
          <option value="Cartão de Débito" >Cartão de Débito</option>
          <option value="Pix" >Pix</option>
          <option value="Ted" >Ted</option>
        </select>
      </div>
      <div class="form-group col-3">
        <label for="dataDoPagamento" >Data do Pagamento</label>
        <input  class="form-control" required id="dataDoPagamento"  type="datetime-local"  [ngModel]="despesa.dataDoPagamento | date: 'yyyy-MM-ddTHH:mm' " (ngModelChange)="despesa.dataDoPagamento  = dataChanged($event)"  name="dataDoPagamento" >
      </div>


    <button *ngIf="!modoEdicao; else editMode" class="btn btn-primary form-control" type="submit" name="submit" id="submit" value="Submit"> <i class=" fa fa-plus" ></i> </button>
  </form>
</div>
<ng-template #editMode>
      <button class="btn btn-info form-control" type="submit" name="submit" id="submit" value="Submit"><i class=" fa fa-check" ></i> </button>
</ng-template>
