<div class="container mb-2">
  <h2 class="font-weight-bold border-bottom">{{title}}</h2>
  <a class="btn btn-link" (click)="limparCampos()" > <i class="fa fa-close" aria-hidden="true"></i></a>
  <form class="form form-row" (ngSubmit)="submit()">

      <div class="form-group col-4">
        <label for="descricao">Descrição</label>
        <input class="form-control" id="descricao" type="text" [(ngModel)]="plano.descricao" name="descricao" placeholder="Descrição"  >
      </div>
      <div class="form-group col-4">
        <label for="valor">Valor</label>
        <input  class="form-control" id="valor" min="0" type="number" [(ngModel)]="plano.valor" name="valor"  >
      </div>
      <div class="form-group col-4">
        <label for="mesesPlano">Meses do Plano</label>
        <input  class="form-control" id="mesesPlano" min="0" max="12" type="number" [(ngModel)]="plano.mesesPlano" name="mesesPlano" >
      </div>
  <button *ngIf="!modoEdicao; else editMode"  class="btn btn-primary form-control" type="submit" name="submit" id="submit" value="Submit"> <i class=" fa fa-plus" ></i> </button>
  </form>
</div>

<ng-template #editMode>
    <button class="btn btn-info form-control" type="submit" name="submit" id="submit" value="Submit"> <i class=" fa fa-check" ></i> </button>
  </ng-template>
